<button
  class="inline-flex mb-14 mx-2 flex-row hover:border justify-center items-center gap-x-2 hover:bg-transparent hover:text-cyan-500
  h-12 w-48 transition-all duration-700 rounded-full text-[14px] font-bold shadow-lg shadow-cyan-500/50 bg-cyan-500"
>
  <slot />
</button>
