---
const navItems = [
  {
    title: "Experiencia",
    label: "experiencia",
    url: "/#experiencia",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "mailto:mauricio.ramirez.cardozo0@gmail.com",
  },
];
---

<header
  class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto sticky top-0 z-10"
>
  <nav
    class="backdrop-blur flex flex-row sm:gap-x-5 lg:gap-x-8 xl:gap-x-10 gap-x-3 rounded-full
    py-1 px-8 items-center bg-white/40"
  >
    {
      navItems.map((link) => (
        <a
          href={link.url}
          class="text-sm py-1 relative blocktransition hover:text-blue-700 dark:hover:text-blue-700"
          aria-label={link.label}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>
